<header class="app-header">
  <div class="topbar">
    <div class="brand">
      <a href="/" class="brand__link">
        <img src="/assets/img/dumai.png" alt="Dumai" />
        <img src="/assets/img/dumai_idaman.png" alt="Dumai Idaman" />
        <img src="/assets/img/asn.png" alt="ASN" />
        <span class="brand__title">SIMBEDA Kota Dumai</span>
      </a>
    </div>

    <nav class="nav">
      <a class="nav__link" href="/">Beranda</a>
      <a class="nav__link" href="/modules/dashboard/dashboard.html">Dashboard</a>
      <a class="nav__link" href="/modules/lapor_warga/lapor_warga.html">Lapor Warga</a>
      <a class="nav__link" href="/modules/laporan_cepat/laporan_cepat.html">Laporan Cepat</a>
      <a class="nav__link" href="/modules/agenda/agenda.html">Agenda</a>
      <a class="nav__link" href="/modules/nota_dinas/nota_dinas.html">Nota Dinas</a>
    </nav>

    <div class="account" id="account-area">
      <a class="btn btn-login" href="/modules/login/login.html">Masuk</a>
    </div>
  </div>

  <div class="breadcrumb" id="breadcrumb"></div>
</header>
